@media print {
  table {
    font-size: 9px !important;
    border-collapse: collapse !important;
  }
  th, td {
    padding: 5px !important;
  }
  .content td {
    padding: 0px;
  }
  .border-full {
    border: 1px solid #000 !important;
  }
  .border-bottom {
    border-bottom: 1px solid #000 !important;
  }
  .border-right {
    border-right: 1px solid #000 !important;
  }
  .border-left {
    border-left: 1px solid #000 !important;
  }
  .border-top {
    border-top: 1px solid #000 !important;
  }
  .border-thick-top {
    border-top: 2px solid #000 !important;
  }
  .border-thick-bottom {
    border-bottom: 2px solid #000 !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .remove-print {
    display: none;
  }
  .breadcrumb {
    display: none;
  }
}

@media screen {
  table {
    font-size: 9px !important;
    border-collapse: collapse !important;
  }
  th, td {
    padding: 5px !important;
  }
  .content td {
    padding: 0px;
  }
  .border-full {
    border: 1px solid #000 !important;
  }
  .border-bottom {
    border-bottom: 1px solid #000 !important;
  }
  .border-right {
    border-right: 1px solid #000 !important;
  }
  .border-left {
    border-left: 1px solid #000 !important;
  }
  .border-top {
    border-top: 1px solid #000 !important;
  }
  .border-thick-top {
    border-top: 2px solid #000 !important;
  }
  .border-thick-bottom {
    border-bottom: 2px solid #000 !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
}