
//Font 
$font-size-base         :14px;
$line-height-base       :1.5;
$font-family-base       :'Arial', sans-serif;
$font-weight-regular    :400;
$font-weight-bold       :700;

//Heading
$heading-font-family    :'Georgia', sans-serif;
$heading-regular-weight :400;
$heading-bold-weight    :700;


//Gray Color Base
$gray-base              :#000 !default;
$gray-darker            :lighten($gray-base, 13.5%) !default; // #222
$gray-dark              :lighten($gray-base, 20%) !default;   // #333
$gray                   :lighten($gray-base, 33.5%) !default; // #555
$gray-medium-light      :lighten($gray-base, 86.7%) !default; // #ddd
$gray-light             :lighten($gray-base, 46.7%) !default; // #777
$gray-lighter           :lighten($gray-base, 93.5%) !default; // #eee
$gray-medium-lighter    :lighten($gray-base, 98.43%) !default; // #fbfbfb


$default-color          :#fff;
$brand-primary          :#cd0f0f;

//** Background color for `<body>`.
$body-bg                :#fff !default;

//** Global text color on `<body>`.
$text-color             :$gray-dark !default;

//** Global textual link color.
$link-color             :$brand-primary !default;

//** Link hover color set via `darken()` function.
$link-hover-color       :darken($link-color, 15%) !default;

//** Link hover decoration.
$link-hover-decoration  :underline !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled        :not-allowed !default;
$cursor-pointer         :pointer !default;
$input-bg-disabled      :$gray-light;

//Helper Classes
$text-center            :center;
$text-right             :right;
$text-left              :left;

//Sidebar Width Variable cd0f0f
$sidebarwidth:320px;