@import 'base/_variable.scss';
@import 'base/_mixins.scss';
*{
	margin: 0;
	padding: 0;
}
*,
::after,
::before{
	  box-sizing: border-box;
}

a{
	text-decoration:none;
	transition:all 0.5s ease-in-out 0s;
	&:hover{
		text-decoration:none;
	}
}


/*-----------------------------
	News Ticker
------------------------------*/
.acme-news-ticker{
    $parent:&;
    background: #cd0f0f;
    position: relative;
    height: 45px;
    border: 1px solid $brand-primary;
    margin-top: 45px;

    @include respond-above(sm) {
        margin-top: 0;
    }
    &-label{
        background:$brand-primary;
        padding: 10px;
        width: auto;
        float: left;
        margin-right: 15px;
        line-height: normal;
        height: 100%;
        color: #fff;

        @include respond-below(xs) {
            position: absolute;
            top: -45px;
        }
    }
    &-box{
        height: 100%;
        padding-top: 10px;
        overflow: hidden;
        @include respond-below(xs) {
            padding-left: 10px;
            padding-right: 120px;
        }
        ul{
            width: 100%;
            list-style-type: none !important;
            padding: 0;
            margin: 0;
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
    &-controls{
        // margin-left: auto;
        display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        button{
            height: 100%;
            background:#f6f6f6;
            padding: 0;
            width: 40px;
            border-color:$gray-lighter;
            border-style: solid;
            border-width: 0 0 0 1px;
            cursor: pointer;
            display: inline-block;
            &:hover{
                background: $gray-lighter;
            }
            &.acme-news-ticker-arrow  {
                margin: 0;
                display: inline-block;
                position: relative;
                    &:after {
                        border-color: #999;
                        border-bottom-style: solid;
                        border-bottom-width: 2px;
                        border-right-style: solid;
                        border-right-width: 2px;
                        content: '';
                        display: inline-block;
                        height: 8px;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        width: 8px;
                    }
            }
        
           
            &.acme-news-ticker-pause{
                position: relative;
                display: inline-block;
                &:before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-color: #999;
                    border-style: solid;
                    border-width: 0 2px 0;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                }
            }

        }

        &.acme-news-ticker-horizontal-controls{
            button{

                &.acme-news-ticker-prev{
                    &:after{
                       transform: translate(-50%,-50%)rotate(135deg); 
    
                    }
                }
                &.acme-news-ticker-next{
                    &:after{
                        transform: translate(-50%,-50%) rotate(315deg); 
    
                    }
                }
            }
        }
        &.acme-news-ticker-vertical-controls{
                button{
    
                    &.acme-news-ticker-prev{
                        &:after{
                            // transform: rotate(135deg); for prev button
                            transform: translate(-50%,-50%) rotate(225deg);
        
                        }
                    }
                    &.acme-news-ticker-next{
                        &:after{
                            //transform: rotate(315deg); for next button
                            transform: translate(-50%,-50%) rotate(405deg);
        
                        }
                    }
                }
        }
    }
}